<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>Banco</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="mysql.js"></script>
</head>

<body>
    <div id="main">
        <header id="header">
            <h3 class="header__item " id="header__tittle">
                <span id="user-container">
                    <img id="user__img" src="/resources/images/user.png" alt="">
                    <h5 id="user__txt" class="font-white"><%= name %></h5>
                </span>
                Banco
            </h3>
        </header>

        <div class="" id="container">
            <section class="section-saldo">
                <h4 class="saldo-tittle">Consultar saldo</h4>
                <div class="saldo-container">
                    <p class="saldo__item" id="saldo__item-text">saldo actual:</p>
                    <p class="saldo__item" id="saldo__item-money"><%= saldo %></p>
                </div>
            </section>
            <div class="btn-container">
                <a class="a-back" href="/"><button class="btn-back btn btn-dark btn-outline-white btn-lg px-5" type="submit">Regresar</button></a>
                <a class="a-back" href="/retiro"><button class="btn-action btn btn-primary btn-outline-white btn-lg px-5" type="submit">Retirar</button></a>
            </div>

        </div>


    </div>

    <script src="js/bootstrap.min.js"></script>
</body></html>